<% provide(:title, "Home") %>
<% if user_signed_in? %>
<!--ログイン後の画面-->
<div class ="container pt-5">
  <div class="jumbotron">
   <h1 class="display-4"><%=current_user.name%> さん</h1>
   
   

   <p class="lead">あなたのお気に入りの料理をみんなで共有しよう。そうすれば世界が広がるはずです。</p>
   <hr class="my-4">

   <%= link_to "ユーザーページ", user_path(current_user),class: 'btn btn-primary btn-lg',role: 'button'%>
 </div>
</div>
   <div class="container mt-5">

     <h1 class="text-center pb-3">Food Phots</h1>


    <%=render "logged_in_home" %>


   </div>




<% else %>
<div class ="container pt-5">
  <div class="jumbotron">
   <h1 class="display-4">ようこそ!</h1>
   <p class="lead">あなたのお気に入りの料理をみんなで共有しよう。そうすれば世界が広がるはずです。</p>
   <hr class="my-4">
   <p>さっそく新規登録、ログインをしてサービスを利用しよう。かんたんログイン機能を使えば登録せずにすぐにサービスを活用できます。</p>
   <%= link_to "新規登録", new_user_registration_path ,class: 'btn btn-primary btn-lg',role: 'button'%>
   <%= link_to "ログイン", new_user_session_path ,class: 'btn btn-primary btn-lg',role: 'button'%>
   <%= link_to "かんたんログイン", '#' ,class: 'btn btn-primary btn-lg',role: 'button'%>
 </div>
</div>

<div class="container mt-5">

  <h1 class="text-center pb-3">Food Phots</h1>


 <%=render "logged_in_home" %>


</div>
<% end %>
