<% provide(:title, @user.name) %>
<div class= "text-center">
<%=image_tag @user.image.url, size: '300x225',class:"rounded-circle mt-5" if @user.image?%><br/>
<h1 class="mt-1"><%= @user.name %></h1><br/>
<%=link_to "編集",edit_user_registration_path, class: 'btn btn-primary btn-lg',role: 'button' %>
<%=link_to "ログアウト",destroy_user_session_path,method: :delete,class: 'btn btn-primary btn-lg',role: 'button' %>
<%= link_to "新規投稿", new_micropost_path , class: 'btn btn-primary btn-lg',role: 'button'%>
<div class="container mt-5">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      <div class="row">
      <div class="col-md-12">
      <div class="card-group">
        <%= render @microposts %>
      </div>
      <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% end %>
  </div>
 </div>
</div>
</div>
