<div class= "text-center">
<%=image_tag @user.image.url, size: '300x225',class:"rounded-circle mt-5" if @user.image?%><br/>
<h1 class="mt-1"><%= @user.name %></h1><br/>

<%= render 'shared/stats' %></br>

<h3><%= @title %></h3>


    
    <% if @users.any? %>
<div class="container mt-5">
  <div class="row">
  <div class="col-md-12">
  <div class="card-group">
      <% @users.each do |user| %>
      <div class="col-md-4">
    <%=image_tag user.image.url, size: '300x225',class:"rounded-circle" if user.image? %>
    <div class="card mb-4 shadow-sm">
        <%= user.name %> 
  <%= link_to '詳細', user_path(user) %>
      
      </div>
  </div>
    <% end %>
    <% end %>
    </div>
    <%= will_paginate %>
    </div>
  </div>
  </div>
  </div>