<div class="container">

  <div class="row">
    <style>
      #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }


}
    </style>

    <div class="col-md-10">
      <%= link_to "foods app", root_path , id: "logo" %>
    </div>

    <% if user_signed_in? %>
    <!--ログイン後の画面-->
    <div class="dropdown col-md-2">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        メニュー
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "マイページ", user_path(current_user), class: 'dropdown-item' %>
        <%= link_to "投稿", new_micropost_path, class: 'dropdown-item' %>
        <%= link_to "ユーザー一覧", users_path, class: 'dropdown-item' %>
        <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'dropdown-item' %>
        <%= link_to "お問い合わせ", "#", class: 'dropdown-item' %>
      </div>
    </div>
<% else %>
<div class="dropdown col-md-2">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    メニュー
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "新規登録", new_user_registration_path, class: 'dropdown-item' %>
    <%= link_to "ログイン", new_user_session_path, class: 'dropdown-item' %>
    <%= link_to "かんたんログイン", "", class: 'dropdown-item' %>
    <%= link_to "お問い合わせ", "#", class: 'dropdown-item' %>
  </div>
</div>
<%end%>

<p id="top"></p>


</div>
</div>
